body, html {
    margin: 0;
    padding: 0;
}
.layout {
    display: flex;
    background: yellow;
    height: 100vh;
    align-items: stretch;

    #layers {
        background: lime;
        width: 250px;
    }

    #main {
        background: red;
        flex-grow: 1;
    }

    #sidebar{
        background: fuchsia;
        width: 250px;
    }
}