body, html {
    margin: 0;
    padding: 0;
}
.main {
    display: flex;
    height: 100vh;
    background: #181f2c;
    color: #c5c8c6;
    flex-direction: column;
}
.layout {
    display: flex;
    align-items: stretch;

    #layers {
        // background: lime;
        width: 250px;
    }

    #mid {
        // background: red;
        flex-grow: 1;
    }

    #sidebar{
        // background: fuchsia;
        width: 25px;
    }
}

.lcd-canvas {
    border: 2px solid #225a94;
    image-rendering: pixelated;
    transform: scale(2);
    transform-origin: top;
}
